a.out
*.o
.DS_Store
**/lecture.cc
.vscode
*.class
**/build/
**/.idea/
**/out/
*.iml
target/
_minted-main/
*.synctex.gz

**/vivado_project/*
!**/vivado_project/*.xpr
!**/vivado_project/*.srcs/*

**/Parallel computing/**/*.sh